---
- name: Install fail2ban
  apt:
    name: fail2ban
    state: present

- name: Deploy fail2ban jail.local configuration
  template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    mode: '0644'
  notify: restart fail2ban

- name: Ensure fail2ban is running and enabled
  systemd:
    name: fail2ban
    state: started
    enabled: true
