PermitRootLogin {{ base_ssh_permit_root_login }}
PasswordAuthentication {{ base_ssh_password_authentication }}
PubkeyAuthentication "yes"
AuthorizedKeysFile .ssh/authorized_keys

Protocol 2
MaxAuthTries {{ base_ssh_max_auth_tries }}

AllowUsers {{ system_user }}
